@charset "UTF-8";

/* typical device breakpoints
pequenas telas: até 600px
celular: de 600px até 768px
tablet: 768 até 992px
desktop: 992px até 1200px
grandes telas: acima de 1200px */

@media screen and (min-width: 768px){
    span#burger {
        display: none;

    }
    nav#menu {
        display: block;
    }
    nav#menu > ul > li {
        display: inline-block;
    }
    main {
        max-width: 768px;
    }

}