@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');


/* CONFIGURAÇÃO GERAL */
* {
    padding: 0;
    margin: 0;
}
/* FIM CONFIGURAÇÃO GERAL */

:root {
    --fonte1: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    --fonte2: 'Passion One', 'cursive';
    --fonte3: 'Sriracha', 'cursive';
}

html, body {
    min-height: 100vh;
    background-color: rgb(216, 216, 216);
}

/* CABEÇALHO */
header {
    background-color: #000000;
    text-align: center;
    padding: 35px;
}
header h1 {
    font-family: var(--fonte2);
    font-size: 8vw;
    color: #ffffff;
    font-variant: small-caps;
}
header p {
    color: #ffffff;
    font-family: var(--fonte1)
}
header a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* FIM DO CABEÇALHO */

section {
    font-family: var(--fonte3);
    font-size: 3.5vw;
    padding: 5vh;

}

#sec2 {
    height: 100%;
    background-image: url("imagens/background001.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 3px 3px 20px #00000092;
}

#sec3 p, #sec5 p {
    margin: 5vh 0px;

}

#sec4 {
    height: 100%;
    background-image: url('imagens/background002.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 3px 3px 20px #00000092;
}
#sec4 p, #sec2 p {
    display: inline-block;
    color: #ffffff;
    background-color: #00000082;
    padding: 30px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    font-family: var(--fonte1);
    font-size: 1em;
    text-align: center;
    padding: 10px;
}
footer a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
footer a:hover, header a:hover {
    text-decoration: underline;
}