@charset "UTF-8";

/* configurações gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: #ffffff;
    padding: 10px;
}