@charset "UTF-8";
/* telas maiores */
@media screen and (min-width: 600px){
    section#login {
        width: 480px;
    }
    div#img {
        display: inline-block;
        width: 40%;
        height: 279px;
        border-radius: 20px 0px 0px 20px;

    }
    div#formulario {
        display: inline-block;
        width: 55%;
    }
}