@charset "UTF-8";
/* configuração de telas maiores */

/* tablet */
@media screen and (min-width: 600px) and (max-width: 992px){
    body {
        background-image: linear-gradient(0deg, rgb(43, 173, 178), rgb(195, 63, 195));
    }
    section#login {
        width: 90vw;
        height: 300px;


    }

    section#login > div#img {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

/* desktop, tv */
@media screen and (min-width: 992px){
    body {
        background-image: linear-gradient(0deg, rgb(43, 45, 178), rgb(107, 19, 107))
    }
    section#login {
        width: 900px;
        height: 300px;

    }

    section#login > div#img {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }
}