@charset "UTF-8";
/* MOBILE FIRST */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /* nesta config o tamanho total do elemento inclui o conteúdo, o padding e a borda, mas não a margem. */
}

body, html {
    background-color: #fff7eb;
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 80%;
    height: 500px;
    margin: 0px auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.306);
    transition: width 0.1s, height 0.1s;
    transition-timing-function: ease;
}
div#img {
    width: 100%;
    height: 200px;
    display: block;
    background-image: url('..//img/bg-pattern.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    transition-duration: 0.2s;
    background-size: cover;
    

}

div#formulario {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 5px 25px 5px;
}

div#formulario h1 {
    font-size: 1.3em;
    margin: 10px;
    
}
p#txt {
    width: 80%;
    margin: 5px auto 15px auto;
    font-size: 0.8em;
}
div.campos {
    background-color: rgb(238, 238, 255);
    width: 80%;
    margin: 5px auto 5px auto;
    border-radius: 5px;

}
p.in {
    position: relative;
    color: #ffffff;
    display: inline;
}

p.in > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
    width: 20px;
}

div#formulario input {
    background-color: rgb(255, 255, 255);
    width: 80%;
    padding: 5px;
    margin: 5px 5px 5px 10px;
    border: none;
    border-radius: 5px;

    
}

div#formulario button {
    display: block;
    width: 80%;
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    border: none;
    height: 40px;
    cursor: pointer;
    font-weight: bold;


}

button#entrar {
    background-color: #0179B9;;
    transition-duration: 0.2s;
    color: #ffffff;
}


button#entrar:hover {
    background-color: #004e78;
    transition-duration: 0.2s;
}

button#esqueci {
    background-color: #ffffff00;
    color: #03550E;
    transition-duration: 0.2s;
}

button#esqueci:hover {
    background-color: #03550e3a;
    transition-duration: 0.2s;
}