@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
}
body {
    height: 100vh;
    background-image: url('imagens/fundo-madeira.jpg');
    background-position: center center;
    background-size: cover;
    
}
section#celular {
    height: 627px; 
    width: 311px;
    margin: 30px auto;
    background-image: url('imagens/frame-iphone.png');
    background-position: top center;
    background-size: cover;

}


iframe {
    display: block;
    position: relative;
    top: 80px;
    margin: 10px auto;
    width: 270px;
    height: 476px;
    
}
ul {
    position: absolute;
    top: 20px;
    right: 20px;
}

li {
    display: block;    
   
}

a>img {
    width: 50px;
    margin: 10px;
    border-radius: 100px;
    box-shadow: 1px 1px 5px #00000080;
    transition-duration: 0.2s;
}
a > img:hover {   
    transform: translate(-5px, -5px);
    border: 2px solid #ffffff65;
    box-shadow: 5px 5px 5px #000000c5;
    transition-duration: 0.2s;
}

@media (max-width: 480px) {
    ul {
        width: 99%;
        position: relative;
        top: 10px;
        right: auto;
    }
    li {
        display: inline-block;
    }
    section#celular {
        height: 607px; 
        width: 291px;
    
    }
    iframe {
        width: 250px;
        height: 456px;
        
    }

}